{{#ui-layout class="container" as |posts filter registration filterWith registrationAction|}}
{{log "posts" posts}}
{{log "filter" filter}}
{{log "filter" filter}}

{{log "posts" posts}}
{{log "filter" filter}}
{{log "registration" registration}}

<h1>Prospect Source</h1>
<input id="UserName" placeholder="UserName" value={{registration.UserName}} oninput={{action registrationAction}}>
<h1>{{registration.UserName}}</h1>

{{/ui-layout}}
