{{#ui-layout
     class="container" as |
      posts
      filter
      registration
      users
      loggedInUser
      filterWith
      registrationAction
      registrationNewAction
      registrationLogInAction
      creatProfile
      interest
      schoolSearch
     |}}
<!---->
{{log "posts" posts}}
<!---->
{{log "registration hbs" registration}}
<!---->
{{log "users" users}}
<!---->
{{log "registrationNewAction" registrationNewAction}}
<!---->
{{log "registrationLogInAction" registrationLogInAction}}
<!---->
{{#if posts.showLogin}}
  <h1>Prospect Source</h1>
  <input id="UserName" placeholder="UserName" value={{registration.UserName}} oninput={{action registrationAction}}>
  <h1>{{registration.UserName}}</h1>

  <input id="Password" placeholder="Password" value={{registration.Password}} oninput={{action registrationAction}}>
  <h1>{{registration.Password}}</h1>

  <button onclick={{action registrationLogInAction}}>Prospect Login </button>
  <br/>
  <button onclick={{action registrationNewAction }}>Register</button>
{{/if }}

{{#if posts.showRegister}}
  <h4>Create Prospect Profile: {{loggedInUser.UserName}}</h4>
  <input id="UserName" placeholder="UserName" value={{registration.UserName}} oninput={{action registrationAction}}>
  <br/>
  <input id="FirstName" placeholder="FirstName" value={{registration.FirstName}} oninput={{action registrationAction}}>
  <br/>
  <input id="LastName" placeholder="LastName" value={{registration.LastName}} oninput={{action registrationAction}}>
  <br/>
  <input id="email" placeholder="email" value={{registration.email}} oninput={{action registrationAction}}>
  <br/>
  <input id="password" placeholder="password" value={{registration.password}} oninput={{action registrationAction}}>
  <br/>
  <button onclick={{action creatProfile}}>Create</button>
{{/if }}

{{#if posts.showContact}}
  <h4>Add Contact Information: {{loggedInUser.UserName}}</h4>
  <input id="Phone" placeholder="Phone" value={{registration.Phone}} oninput={{action registrationAction}}>
  <br/>
  <input id="Email" placeholder="Email" value={{registration.email}} oninput={{action registrationAction}}>
  <br/>
  <input id="CoachName" placeholder="CoachName" value={{registration.CoachName}} oninput={{action registrationAction}}>
  <br/>
  <input id="CoachPhone" placeholder="CoachPhone" value={{registration.CoachPhone}} oninput={{action registrationAction}}>
  <br/>
  <input id="password" placeholder="password" value={{registration.password}} oninput={{action registrationAction}}>
  <br/>
  <button onclick={{action creatProfile}}> Next </button>
{{/if }}

{{#if posts.showAthletic}}
  <h4>Add Athletic Information: {{loggedInUser.UserName}}</h4>
  <input id="Height" placeholder="Height" value={{registration.Height}} oninput={{action registrationAction}}>
  <br/>
  <input id="Weight" placeholder="Weight" value={{registration.Weight}} oninput={{action registrationAction}}>
  <br/>
  <input id="Vertical" placeholder="Vertical" value={{registration.Vertical}} oninput={{action registrationAction}}>
  <br/>
  <input id="Position" placeholder="Position" value={{registration.Position}} oninput={{action registrationAction}}>
  <br/>
  <input id="Club" placeholder="Club" value={{registration.Club}} oninput={{action registrationAction}}>
  <br/>
  <input id="HighSchool" placeholder="HighSchool" value={{registration.HighSchool}} oninput={{action registrationAction}}>
  <br/>
  <button onclick={{action creatProfile}}> Next </button>
{{/if }}

{{#if posts.showAcademic}}
  <h4>Add Academic Information: {{loggedInUser.UserName}}</h4>
  <input id="GPA" placeholder="GPA" value={{registration.GPA}} oninput={{action registrationAction}}>
  <br/>
  <input id="ACT" placeholder="ACT" value={{registration.ACT}} oninput={{action registrationAction}}>
  <br/>
  <input id="ClassRank" placeholder="ClassRank" value={{registration.ClassRank}} oninput={{action registrationAction}}>
  <br/>
  <button onclick={{action creatProfile}}> Next </button>
{{/if }}

{{#if posts.showTwitter}}
  <h4>Twitter</h4>
  <input id="Twitter" placeholder="@twitterhandle" value={{registration.Twitter}} oninput={{action registrationAction}}>
  <br/>
  <button onclick={{action creatProfile}}> Next </button>
{{/if }}

{{#if posts.showProspectDashboard}}
  <h4>Prospect Dashboard</h4>
  <button  style="width: 5em; height: 5em; border-radius:5em" onclick={{action creatProfile}}> + </button>
  <div style="display:inline-block; margin:20px">
    <div style="padding: 5px">
    Add Recruiting Interest
    </div>
    <div>
    <input style="margin-left: 5px" type="radio" name="editList" id="always" value="always"/>
    <input style="margin-left: 20px" type="radio" name="editList" id="never" value="never"/>
    <input style="margin-left: 20px" type="radio" name="editList" id="change" value="costChange"/>
    <input style="margin-left: 20px" type="radio" name="editList" id="change" value="costChange"/>
    </div>
  </div>
  <br/>
  <button  style="width: 5em; height: 5em; border-radius:5em" onclick={{action creatProfile}}> + </button>
  <div style="display:inline-block; margin:20px">
    <div style="padding: 5px">
      Send Profile To Coaches
    </div>
    <div>
      <input style="margin-left: 5px" type="radio" name="editList" id="always" value="always"/>
      <input style="margin-left: 20px" type="radio" name="editList" id="never" value="never"/>
      <input style="margin-left: 20px" type="radio" name="editList" id="change" value="costChange"/>
      <input style="margin-left: 20px" type="radio" name="editList" id="change" value="costChange"/>
    </div>
  </div>
{{/if }}

{{#if posts.showProspectInterest}}
  <h4> Prospect Interest </h4>
  <div style="display:inline-block; width:100%;  margin:0 100px">
    <div>
    <input style="margin-left: 5px" type="radio" name="editList" id="always" value="always"/>
    <input style="margin-left: 20px" type="radio" name="editList" id="never" value="never"/>
    <input style="margin-left: 20px" type="radio" name="editList" id="change" value="costChange"/>
    <input style="margin-left: 20px" type="radio" name="editList" id="change" value="costChange"/>
    </div>
  </div>
  <br/>
  <div style=" width:100%;  margin:50px 20px">
    {{log 'loggedInUser' loggedInUser }}
  <button  id="mail" style="width: 5em; height: 5em; border-radius:5em" onclick={{action interest}}> + {{loggedInUser.mail}} </button> <div style="margin-left: 20px; display:inline-block"> Recieved Mailing</div> <br/>
  <button  id="text" style="width: 5em; height: 5em; border-radius:5em" onclick={{action interest}}> + {{loggedInUser.text}} </button> <div style="margin-left: 20px; display:inline-block"> Recieved Text</div> <br/>
  <button  id="call" style="width: 5em; height: 5em; border-radius:5em" onclick={{action interest}}> + {{loggedInUser.call}} </button> <div style="margin-left: 20px; display:inline-block"> Recieved Call</div> <br/>
  <button  id="visit" style="width: 5em; height: 5em; border-radius:5em" onclick={{action interest}}> + {{loggedInUser.visit}} </button> <div style="margin-left: 20px; display:inline-block"> Private Visit</div> <br/>
  <button  id="offer" style="width: 5em; height: 5em; border-radius:5em" onclick={{action interest}}> + {{loggedInUser.offer}} </button> <div style="margin-left: 20px; display:inline-block"> Scholarship Offer </div>
  </div>
{{/if }}

{{#if posts.showProspectInterest2}}
  <h4> Prospect Interest 2</h4>
  <button  id="offer" style="width: 5em; height: 5em; border-radius:5em" disabled>d1</button> <div style="margin-left: 20px; display:inline-block"></div>
  <button  id="offer" style="width: 5em; height: 5em; border-radius:5em" disabled>d2</button> <div style="margin-left: 20px; display:inline-block"></div>
  <button  id="offer" style="width: 5em; height: 5em; border-radius:5em" disabled>d3</button> <div style="margin-left: 20px; display:inline-block"></div>
  <button  id="offer" style="width: 5em; height: 5em; border-radius:5em" disabled>d4</button> <div style="margin-left: 20px; display:inline-block"></div>
  <input type='text' value={{loggedInUser.schoolSearchValue}} oninput={{action schoolSearch}}/>

{{log 'schools' posts posts.filteredSchools}}
 {{#each posts.filteredSchools as |school|}}
  <div>{{school}}</div>
 {{/each }}
{{/if }}

{{/ui-layout}}
